<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="admin-sidebar">
  <a href="/employee/page"><i class="fas fa-tachometer-alt"></i> Panel</a>
  <a href="/employee/books"><i class="fas fa-book"></i> Kitaplar</a>
  <a href="/employee/borrowed"><i class="fas fa-exchange-alt"></i> Ödünçler</a>
  <a href="/employee/members"><i class="fas fa-users"></i> Üyeler</a>
  <a href="/employee/books/add"><i class="fa-solid fa-plus"></i> Kitap Ekle</a>
  <a href="/employee/books/delete"><i class="fa-solid fa-trash"></i> Kitap Sil</a>
  <a href="/employee/books/borrows"><i class="fa-solid fa-user-plus"></i> Görevli ekle</a>

</div>

</body>
</html>