<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="contentFragment">
  <h2>Ödünç Verilmiş Kitaplar</h2>

  <div th:if="${message}" class="alert" th:classappend="${messageType == 'success' ? 'alert-success' : 'alert-danger'}">
    <span th:text="${message}"></span>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Ödünç ID</th>
      <th>Kitap Adı</th> <th>Ödünç Tarihi</th>
      <th>İade Tarihi</th>
      <th>Gerçek İade Tarihi</th>
      <th>Durum</th>
      <th>Ceza Miktarı</th>
      <th>Kullanıcı Adı</th> </tr>
    </thead>
    <tbody>
    <tr th:each="borrows : ${borrows}"> <td th:text="${borrows.borrowID}"></td>
      <td th:text="${borrows.book.title}"></td> <td th:text="${borrows.borrowDate}"></td>
      <td th:text="${borrows.returnDate}"></td>
      <td th:text="${borrows.actualReturnDate}"></td>
      <td th:text="${borrows.status}"></td>
      <td th:text="${borrows.fineAmount}"></td>
      <td th:text="${borrows.user.username}"></td> </tr>
    </tbody>
  </table>
</div>

</body>
</html>